.place-view h3 {
    text-align: center;
    margin-top:180px;  
}

.place-view h4 {
    text-align: center;
    margin-top: -30px;
}

.place-view .upcoming {
    margin-top: 0px;
}

.place-view .button1 {
    background-color: blue;
    color: white;
    width: 300px;
    margin-left: 225px;
}

.place-view .div1 {
    margin-top: 60px;
    text-align: center;
    line-height: 60px;
}

.place-view .button2 {
    background-color: blue;
    color: white;
    width: 400px;
    margin-left: 175px;
    margin-top: 80px;
}

.place-view .underCons {
    margin-left: 100px;
    margin-top: -30px;
}