nav-bar,
back-button,
logo {
    display: block;
    position: absolute;
}

nav-bar {
    height: 140px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.5);
    transform: translate3d(0, 0, 9999px)
}

.iOS nav-bar {
    padding-top: 40px;
    height: 140px;
}

menu-button {
    right: 0px;
    height: 140px;
    font-size: 80px;
    display: block;
    position: absolute;
    text-shadow: 0 0 5px rgba(0, 0, 0, .14);
    width: 100px;
}

back-button {
    height: 140px;
    width: 110px;
    font-size: 80px;
    padding: 0px 36px;
    text-align: left;
    display: block;
}

menu-button:before {
    font-family: 'erste';
    content: '\e800';
}

back-button:before {
    font-family: 'erste';
    content: '\e801';
}
