.about-view {
    overflow: scroll;
    bottom: 0px;
    text-align: center;
}

.about-view h4 {
    font-size: 30px;
    font-weight: 100;
    line-height: 130px;
    margin-top: 10px;
}

.about-view h5 {
    font-size: 40px;
    font-weight: 100;
    line-height: 30px;
    margin-top: 50px;
}

.about-view .div1 {
    font-size: 25px;
    font-weight: 50;
    margin-top: 360px;;
}

.about-view img {
    width:296px;
    height:84px;
}

.about-view .img2 {
    margin-top: 0px;
    width:148px;
    height: 132px;

}
.about-view .img3 {
    width:109px;
    height:109px;
    margin-left: 0px;
    margin-top:0px;
    padding-left: 0px;
    text-align: left;
}