.signup h4 {
    font-size: 60px;
    text-align: center;
    margin-top:270px;  
}

.signup .button1 {
height: 10px;
width: 30px;
margin-left: 10px;
margin-top: -60px;
border: none;
color: white;
background-color: white;
}

.signup .button2 {
width: 30px;
height: 10px;
margin-left:380px; 
background-color: white;
color: white;
}

.signup .img3 {
width : 348px;
height : 75px;
margin-left: 0px;
}

.signup .img4 {
width : 348px;
height : 75px;
margin-left: -40px;
margin-top: -10px;
}

.signup h3 {
margin-left: 30px;
height: 80px;
}

.signup .last {
    font-size: 30px;
    margin-top: 30px;
    margin-left: 300px;
}

.signup .first {
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
}

.signup .img1 {
width : 80px;
height : 80px;
margin-left: 30px;
}

.signup .img2 {
width : 80px;
height : 80px;
margin-left: 30px;
}

.signup .box1 {
height : 80px;
margin-left: 60px;
border-style: solid;

}

.signup .box2 {
height : 80px;
margin-left:60px;
border-style: solid;
}

.signup .box3 {
height : 80px;
margin-left:17px;
border-style: solid;
}

.signup .button3 {
width: 750px;
height: 85px;
margin-left:0px; 
background-color: blue;
color: white;
font-size:50px;
}