.signin h4 {
    font-size: 60px;
    text-align: center;
    margin-top:180px;  
}

.signin .div1 {
    font-size: 30px;
    margin-left: 30px;
    margin-top: -30px;
}

.signin .last {
    font-size: 30px;
    margin-top: 30px;
    margin-left: 300px;
}

.signin .first {
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
}

.signin .img1 {
width : 80px;
height : 80px;
margin-left: 30px;
}

.signin .img2 {
width : 80px;
height : 80px;
margin-left: 30px;
}

.signin .box1 {
height : 80px;
margin-left: 60px;
border-style: solid;

}

.signin .box2 {
height : 80px;
margin-left:60px;
border-style: solid;
}

.signin .button3 {
width: 750px;
height: 85px;
margin-left:0px; 
background-color: blue;
color: white;
font-size:50px;
}

.signin .button1 {
height: 10px;
width: 30px;
margin-left: 10px;
margin-top: -60px;
border: none;
color: white;
background-color: white;
}

.signin .button2 {
width: 30px;
height: 10px;
margin-left:380px; 
background-color: white;
color: white;
}

.signin .img3 {
width : 348px;
height : 75px;
margin-left: 0px;
}

.signin .img4 {
width : 348px;
height : 75px;
margin-left: -40px;
margin-top: -10px;
}