.about-view {
    overflow: scroll;
    bottom: 120px;
    text-align: center;
    padding-top: 60px;
}

.about-view h1 {
    font-size: 120px;
    font-weight: 100;
    line-height: 130px;
    padding-bottom: 40px;
}

.about-view div {
    font-size: 25px;
    font-weight: 50;
    margin-top: 300px;
}

.about-view img {
    width:296px;
    height:84px;
}

.about-view .img1 {
    width:292px;
    height:198px;
    margin-left: 80px;
}

.about-view .img2 {
    margin-top: 0px;
    width:148px;
    height: 132px;

}
.about-view .img3 {
    width:109px;
    height:109px;
    margin-left: 0px;
    margin-top:0px;
    padding-left: 0px;
    text-align: left;
}
