.signin {
    overflow: scroll;
    bottom: 120px;
    text-align: center;
    padding-top: 240px;
}

.signin h1 {
    font-size: 120px;
    font-weight: 100;
    line-height: 130px;
    padding-bottom: 40px;
}

.signin div {
    font-size: 25px;
    font-weight: 50;
    margin-top: 300px;
}

.signin img {
    width:296px;
    height:84px;
}

.signin .img1 {
    width:292px;
    height:198px;
    margin-left: 80px;
}

.signin .img2 {
    margin-top: 0px;
    width:148px;
    height: 132px;

}
.signin .img3 {
    width:109px;
    height:109px;
    margin-left: 0px;
    margin-top:0px;
    padding-left: 0px;
    text-align: left;
}
