.search div {
   color:darkgreen;
   margin-left: 30px;
   margin-top: 290px;
   padding: 10px;
}

.search button {
    background-color: blue;
    color: white;
    width: 300px;
    height: 60px;
    margin-left: 220px;
    margin-top: 0px;
}

.search .checkbox1 {
    width: 35px;
    height: 35px;
    margin-left: 500px;
}

.search .checkbox2 {
    width: 35px;
    height: 35px;
    margin-left: 515px;
}

.search .checkbox3 {
    width: 35px;
    height: 35px;
    margin-left: 535px;
}

.search .checkbox4 {
    width: 35px;
    height: 35px;
    margin-left: 415px;
}

.search .checkbox5 {
    width: 35px;
    height: 35px;
    margin-left: 475px;
}

.search .checkbox6 {
    width: 35px;
    height: 35px;
    margin-left: 475px;
}

.search .checkbox7 {
    width: 35px;
    height: 35px;
    margin-left: 475px;
}

.search .checkbox8 {
    width: 35px;
    height: 35px;
    margin-left: 370px;
}

.search .checkbox9 {
    width: 35px;
    height: 35px;
    margin-left: 540px;
}

.search .checkbox10 {
    width: 35px;
    height: 35px;
    margin-left: 540px;
}

.search .checkbox11 {
    width: 35px;
    height: 35px;
    margin-left: 515px;
}

.search .checkbox12 {
    width: 35px;
    height: 35px;
    margin-left: 495px;
}